.container {
  /* background: red; */
  width: 80%;
  margin: auto;
  border: 2px solid black;
  font-family: "Arial", Sans-serif;
}
h1 {
  text-align: center;
}
.sorting {
  display: grid;
  grid-template-columns: 35% 35% 15%;
  grid-template-rows: 40px;
  gap: 7.5%;
}
.sorting,
.users {
  width: 90%;
  /* background-color: green; */
  margin: auto;
  margin-bottom: 30px;
}
.select-box {
  text-align: center;
  font-size: 18px;
}
.search {
  text-align: center;
  background-color: rgb(11, 82, 224);
  text-shadow: 2px 0px 0px black;
  color: white;
  font-size: 18px;
  border: 1px solid black;
}
.users {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.aUserDiv {
  background-color: rgb(34, 216, 220);
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
.taskComplete label {
  text-decoration: line-through;
}

.update,
.delTask {
  background: none;
  border: 1px solid black;
}
.task {
  display: grid;
  grid-template-columns: 6% 78% 8% 8%;
  gap: 1px;
  margin-bottom: 3px;
}

.update:hover {
  background-color: rgb(248, 212, 9);
  color: black;
}
.delTask:hover {
  background-color: rgb(221, 0, 0);
  color: white;
}
.checkBox {
  cursor: pointer;
}

.taskInComplete {
  margin-top: 10px;
}
.checkBox:checked::after {
  background-color: green;
}
